# A long, secret value used to encrypt the session cookie. 
# Generate your own with this command: `node -e "console.log(crypto.randomBytes(32).toString('hex'))"`
AUTH0_SECRET=''
# The base url of your application, can leave alone for local testing
AUTH0_BASE_URL='http://localhost:3000'
# Your Auth0 application's tenant domain, which is the domain field. 
# The resulting value must include "https://" and end with "/".
# VERY IMPORTANT! Don't forget the trailing slash `/`.
# e.g.: 'https://dev-by9w1mxg.us.auth0.com/'
AUTH0_ISSUER_BASE_URL='https://'
# Your Auth0 application's Client ID
AUTH0_CLIENT_ID=''
# Your Auth0 application's Client Secret
AUTH0_CLIENT_SECRET=''
# Auth0 scopes to set, these are required for the necessary auth0 data
AUTH0_SCOPE='openid profile email offline_access'
# Auth0 audience must match the audience of your Custom API in Auth0 and TakeShape service
# Looks like: https://api.takeshape.io/project/f56d44bb-8261-41e0-b3ee-af37931cb493/my-auth-0-service-id
AUTH0_AUDIENCE=''
# Copy the API Endpoint from your TakeShape Project > API > API Endpoint in the lower left
# Looks like: https://api.takeshape.io/project/f56d44bb-8261-41e0-b3ee-af37931cb493/v3/graphql
TAKESHAPE_API_URL=''
# An API Key from TakeShape with `read` permissions
TAKESHAPE_API_KEY=''
# A Stripe API publishable key from the Developers -> API Keys section of Stripe.
NEXT_PUBLIC_STRIPE_API_KEY=''